$main_color: #6084ab;
$sub_color: #35495e;
$green_color: #41b883;

.top1 {
  margin-top: 2rem;
}
.top2 {
  margin-top: 4rem;
}
.column-gap1 {
  margin: 2rem 0;
}
.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.text {
  letter-spacing: -0.1rem;
}

.bold {
  font-weight: 800;
}

.normal {
  font-weight: 600;
}

.lighter {
  font-weight: 0;
}

.color-btn {
  padding: 1rem;
  border-radius: 1rem;
  background: $sub_color;
  color: $green_color;
}

@keyframes moveDown {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0;
  }
}

@keyframes moveUp {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0;
  }
}

@keyframes moveCenter {
  from {
    margin-left: -100%;
  }
}
